# Windows
**/Thumbs.db
**/desktop.ini

# OS X
**/.DS_Store
**/.Spotlight-V100
**/.Trashes
**/._*

# Ignore dist directory
/dist/

# Ignore all __pycache__ directories
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg

# Ignore JetBrains IDE settings
.idea/

# Ignore Visual Studio Code settings
.vscode/
